/.private
day11/part2

## System ##
# macOS
**/.DS_Store

## Editors ##
# Helix
.ignore


## Languages ##
# Rust
**/target

# C / Java
**/out

#> Beaver build tool (C)
**/.beaver

# Zig
**/zig-cache
**/zig-out

# Swift
**/.build
**/.swiftpm

# Node
**/node_modules

# C3
**/build
**/*.o
